body {
  margin: 0;
  background-color: lightyellow;
}

canvas {
  background-color: lightyellow;
}

p {
  position: absolute;
  font-size: 50px;
  width: 100%;
  top: 300px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.screen {
  background-color: lightyellow;
  width: 500px;
  height: 750px;
  border: solid 1px black;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}
