body {
  margin: 0;
}

canvas {
  background-color: lightyellow;
}

.screen {
  background-color: lightyellow;
  width: 500px;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
